# Ignore build outputs
bin/
obj/

# Ignore specific file types
*.dll
*.json
*.cache
*.runtimeconfig.json

# Ignore runtime directories
runtimes/

# Ignorar archivos de configuración de Visual Studio
.vs/

